
@{
    ViewBag.Title = "Index";
}

<h2>Item</h2>

<form>
    <select name="cari" id="cari">
        <option value="1" selected>Item</option>
        <option value="2">Supplier</option>
        <option value="3">Tanggal</option>
    </select>
    <input type="text" placeholder="Cari Nama Item" id="cari" />
</form>

<div class="container">
    <hr />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="combotampil()">Create New</button><br /><br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Search</th>
                <td><input type="text" class="form-control" id="Search" placeholder="Search Item" /></td>
                <td><button class="btn btn-info" id="SearchName" onclick="Search();">Search</button></td>
            </tr>
            <tr>
                <th> Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Supplier</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dissmiss="modal">x</button>
                <h4 class="modal-title" id="myModalLabel">Item</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Id">Id</label>
                        <input type="text" class="form-control" id="Id" placeholder="Id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Price</label>
                        <input type="text" class="form-control" id="Price" placeholder="Price" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Stock</label>
                        <input type="text" class="form-control" id="Stock" placeholder="Stock" />
                    </div>
                    <div class="form-group">
                        <div id="Combobox"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Save" onclick="Save();">Add</button>
                <button type="button" class="btn btn-primary" id="Update" style="display:none;" onclick="Edit();">Edit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/AddingItem.js"></script>
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
}
